{% extends "base.html" %}

{% block title %}Contato{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Informações de Contato <img src="{{ url_for('static', filename='images/image.png') }}" alt="Logo" style="width: 50px; height: 50px; margin-right: 10px;">
        </h1>

        <!-- Informações de Contato -->
        <section class="mb-5">
            <h2>Endereço</h2>
            <p>Rua Fictícia, 123 - Bairro Fictício - Cidade Fictícia - Estado Fictício</p>
            
            <h2>Telefone</h2>
            <p>(11) 1234-5678</p>
            
            <h2>E-mail</h2>
            <p>contato@sistemainsource.com</p>
        </section>
    </div>
{% endblock %}
